body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(images/tt.jpg);
    font-family: sans-serif;
    transition: all 3s ease-in-out;
    overflow: hidden;
}

.contact-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 3s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 16px;
}

form{
    margin-top: 50px;
    transition: all 3s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
    color: white;
}

form .submit{
    background: #ff5722;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #ff4433;
    color: yellowgreen;
     cursor: pointer;
}




















































